dataset/

exp/

models/

outputs/

Priors6097/

samples/simple_kr_asr/recording_samples/*.wav

__pycache__

resources/

!resources/images/

audio

.ipynb_checkpoints/

**/.ipynb_checkpoints/

.vscode/

*.riva
*.rmir
